* {
    padding: 0;
    margin: 0;
    user-select: none;
}
*:focus {
    outline: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --jl-main-color: #4370f5;
    --jl-hover-color: #4370f5;
    --jl-hover-bg: rgb(255,217,108);
    --jl-gradient: linear-gradient(290deg, var(--jl-background-gray-lightest) 35%, var(--jl-color-white) 100%);
    --jl-gradient-header: linear-gradient(0deg, var(--jl-background-gray-lightest) 35%, var(--jl-color-white) 100%);
    --jl-text-color: rgba(0,0,0,.84);
    --jl-text-light: rgba(0,0,0,.68);
    --jl-text-gray: rgba(0,0,0,.6);
    --jl-text-gray-lightest: rgba(0,0,0,.5);
    --jl-border-color: rgba(0,0,0,.1);
    --jl-border-color-light: rgba(0,0,0,.05);
    --jl-background-gray: #f5f7fd;
    --jl-background-gray-light: #f9f9f9;
    --jl-background-gray-lightest: #fafafa;
    --jl-background-white: #fff;
    --jl-color-white: #fff;
    --primary-color: rgb(255,64,85);
    --second-color: rgb(25,169,223);
    --third-color: rgb(63,188,126);
    --fourth-color: rgb(255,217,108);
    --fifth-color: rgb(0,0,0);
    --size1: 24px;
    --size2: 18px;
    --size3: 16px;
    --size4: 14px;
    --size5: 12px;
    --size-icon: 20px;
    --shadown-black: 0 1px 3px hsl(0deg 0% 7% / 10%);
    --radius-core: 5px;
    
}
svg:hover {
    fill: red;
  }
  
body {font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;font-size: var(--size4);}
a {text-decoration: none;color: var(--jl-main-color);}
