* {
    padding: 0;
    margin: 0;
    user-select: none;
}
*:focus {
    outline: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --jl-main-color: #4370f5;
    --jl-hover-color: #4370f5;
    --jl-hover-bg: rgb(255,217,108);
    --jl-gradient: linear-gradient(290deg, var(--jl-background-gray-lightest) 35%, var(--jl-color-white) 100%);
    --jl-gradient-header: rgb(223,221,219);
    --jl-text-color: rgba(0,0,0,.84);
    --jl-text-light: rgba(0,0,0,.68);
    --jl-text-gray: rgba(0,0,0,.6);
    --jl-text-gray-lightest: rgb(7, 7, 8);
    --jl-border-color: 1px solid #DCDFE6;
    --jl-border-color-light: rgba(0,0,0,.05);
    --jl-background-gray: #cfcfcf;
    --jl-background-gray-light: #dfdddd;
    --jl-background-gray-lightest: #fafafa;
    --jl-background-white: #fff;
    --jl-color-white: #fff;
    --ji-btn-light-bg: #f8f9fa;
    --ji-btn-light-color: #393e48;
    --ji-btn-shadown: inset 0 1px 0 0 rgba(0,0,0,.17),inset 1px -1px 0 0 rgba(0,0,0,.17),inset -1px 0 0 0 rgba(0,0,0,.17);
    --yellow-200: hsl(47,65%,84%);
    --red-100: hsl(358,76%,90%);
    --primary-color: rgb(255,64,85);
    --second-color: rgb(25,169,223);
    --third-color: rgb(63,188,126);
    --fourth-color: rgb(255,217,108);
    --fifth-color: rgb(0,0,0);
    --size1: 24px;
    --size2: 18px;
    --size3: 16px;
    --size4: 14px;
    --size5: 12px;
    --size-icon: 20px;
    --jl-border-color: 1px solid var(--jl-background-gray);
    --shadown-black: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.15),inset 0 1px 1px rgba(16,22,26,.2);
    --radius-core: 5px;    
    --top-element: 10px;
    --size-base: 26px;
    --size-medium: 30px;
    --size-medium2: 35px;
    --size-large: 40px;
    
}
body {font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;font-size: var(--size4);}
a {text-decoration: none;color: var(--jl-main-color);}
.scrollbar
{
	float: left;		
	overflow-y: scroll;		
  cursor: -webkit-grab; cursor: grab;
  border-radius: var(--radius-core);
}
::-webkit-scrollbar
{
	width: 10px;
  border-radius: var(--radius-core);
	background-color: var(--jl-background-gray);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);	  
	background-color: var(--jl-gradient);
}
::-webkit-scrollbar-thumb
{
	border-radius: var(--radius-core);
	background-color: var(--jl-border-color);	
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.disabled {background: var(--jl-border-color-light); cursor: not-allowed;
  z-index: 0;color: var(--primary-color);border: 1px solid var(--primary-color);}
.small-text {font-size: var(--size5);}