.tummo-dialog {position: absolute; width: 350px;background: var(--jl-gradient);margin: auto;    
    top: 0; left: 0; bottom: 0; right: 0;border: 1px solid var(--jl-border-color);
    display: flex; flex-direction: column;
    border-radius: var(--radius-core);overflow:hidden; }
.tummo-dialog-title {width: 100%;height: var(--size-large);background: var(--jl-gradient);display: flex;flex-direction: row; border-bottom: var(--jl-border-color);padding-left: 2px;padding-right: 5px ;align-items: center;vertical-align: middle;padding-top: 5px;}
.dialog-title-icon {position: relative; width: 25px;margin-right: 5px;width: 30px;}
.dialog-title-text {position: relative; color: var(--jl-text-color);font-size: var(--size3);align-items: center;vertical-align:middle;font-weight: bold;}
.dialog-title-close {position: absolute;float: right;float: right;top:6px; right:5px;width: 30px;}
.info {height: 180px;}
.dialog-title-close .bx {font-size: var(--size1);}
.dialog-title-icon img {height: var(--size-medium);}
.tummo-dialog-content {width: 100%;display:block;position:absolute;top: var(--size-medium);padding: 20px 15px 15px 15px;}
.tummo-dialog-bottom {position: absolute;bottom: 0;left: 0; height: var(--size-medium);border-top: var(--jl-border-color);width: 100%;text-align: center;align-items: center;vertical-align: middle;padding-top: 1px;}
.drag-over {cursor: pointer;position: absolute;z-index: 12555;}
