.menu-wrapper {width: fit-content;border-radius: var(--radius-core);box-shadow: var(--shahown-menu);height: auto;
background: var(--jl-gradient);position: absolute;z-index: 1250;display: none;
}
.t-context-item {
    display: flex;    
    flex-direction: column;
    margin-top: 2px;
    color: var(--jl-text-color);          
    font-size: var(--size3);               
    padding-bottom: 5px;       
    position: relative;      
    padding-top: 5px;}

.t-context-item li {margin-bottom: 5px;padding: 0px 12px 0px 8px;height: var(--size-medium);line-height: var(--size-medium);list-style: none;display: flex;gap: 10px;align-items: center;padding-right: 30px;}
.t-context-item li:hover{background-color: var(--jl-hover-bg);color: var(--jl-hover-color);cursor: pointer;}  
.bx {margin-right: 3px;cursor: pointer;}
.t-context-line {border-bottom: var(--divider);margin: 2px 2px 2px 2px;}
.t-context-item img {height: 25px;}
.t-context-child {}
.arrow {  
    border-color: transparent;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 21;
}
.arrow-top {transform: rotate(90deg);top: -10px;}
.arrow-bottom {transform: rotate(270deg);bottom: -10px;}
.arrow-left {transform: rotate(0deg);left: -10px;}
.arrow-right {transform: rotate(180deg);right: -10px;}
.menu-show-effect {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}