.tips {border-bottom: 1.5px dotted var(--primary-color);cursor: pointer;}
.l-verify-tip-content {
    margin: 0;
    position: relative;
    left: 7px;
    top: 0px;    
    color: var(--jl-text-color);
    background: var(--jl-hover-bg);        
    z-index: 10000;
    padding: 4px 5px 5px 5px;
    padding-right: 6px;    
    font-size: var(--size4);
    text-align: left;
    width: 100%;
    height: auto;   
    border-radius: 4px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.l-verify-tip-corner {
    padding: 0;
    margin-left: 3px;
    margin-top: 10px;
    position: absolute;
    transform: rotate(220deg);
    overflow: hidden;   
    z-index: 10001;
    width: 8px;
    height: 8px;
    border-top: 1px solid var(--jl-hover-bg);
    border-right: 1px solid var(--jl-hover-bg);    
}
.l-verify-tip-corner:after {
    content: "";    
    background: var(--jl-hover-bg);
    height: 50px;
    width: 50px;
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    position: absolute;
    top:-45px;
    right: -25px;    

}
.l-verify-tip {
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    max-width: 200px;
    min-width: 100px;
}