/TummoHelper/TummoHelper/nbproject/private/
/TummoViews/TummoViews/nbproject/private/
/TummoViews/TummoViews/build/
/TummoHelper/TummoHelper/build/
/TummoHelper/TummoHelper/dist/
/TummoViews/TummoViews/dist/
/xPopup/xPopup/nbproject/private/
/jCef/jCef/nbproject/private/
/jCef/jCef/build/
/jCef2/jCef/target/
